*{
  color: white;
  background-color: black;
}



.techfont{
  color:white;
  font-size: 22px;
  
}
.proj {
    width: 90%;
    margin:auto;
    /* border: 1px solid red; */
    text-align: center;
    /* padding: 15px 15px; */
    box-sizing: border-box;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
  }
  
  .h14 {
    
    font-family: 'Roboto', sans-serif;
    padding-top: 4%;
    color:white;
    font-size: xx-large;
    
  }
  .proj > h1 {
    margin: 10px;
  }
  
  .projCont {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    width: 100%;
    column-gap: 25px;
    /* margin: auto; */
    /* padding: 35px; */
    /* box-sizing: border-box; */
    /* justify-content: center; */
    gap: 20px;
  }
  
  .final {
    display: flex;
    width: 100%;
    border: none;
    background-color: #131f33;
   
    
  
  }
  .final > div {
    width: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }
  .final h2,
  p {
    margin: 10px 0;
    font-size: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  h3 {
    color:white;
  }
  
  .tech {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    column-gap: 7px;
  }
  
  .tech div {
    /* width: 90px; */
    height: 70px;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .fab {
    font-size: 30px;
    
  }
  
  .buttons {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    column-gap: 20px;
  }
  .buttons button:hover{
    background-color: #eed99b;
    cursor: pointer;
  }
  
  .buttons button {
    background-color:white;
    background-size: 200% 200%;
    width: 100px;
    font-size: 18px;
    padding: 12px;
    border-radius: 5px;
    color:#131f33;
    border: none;
    font-family:sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
 
  .img {
    width: 100%;
  }
  .img img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
  
  @media only screen and (max-width: 600px) {
    .projCont {
      width: 100%;
      flex-direction: column;
      padding: 0;
    }
  
    .final {
      box-sizing: border-box;
      margin: 10px 0;
      flex-direction: column;
    }
    .final > div {
      width: 100%;
    }
    /* .tech{
      width: 90px;
    } */
  }
  @media only screen and (min-width:890px) and (max-width:2040px){
    .buttons {
      width: 65%;
      justify-content: space-evenly;
    
      
    }
    .buttons button {
      margin-bottom: 70%;
    }
  }