*{
  color: white;
  background-color: black;
}

p{
  color: white;  
}

.about-sec{
width: 90%;
margin: auto;

}
.about-2{
  width: 50%;
  margin-left: 17px;
}
.about-2 > h2{
font-size: 36px;
text-align: center;
color: white;
margin-bottom: 8%;
margin-right: 15%;

}

.main-about{
width: 90%;
margin: auto;
display: flex;
justify-content: space-around;
align-items: center;
padding: 4%;

}
.home-img{
width:100% ;
border-radius: 4%;
}
.about-2 > p {
font-size: 20px;
line-height: 32px;
margin-bottom: 5%;

}
.about-sec{
  background-color: black;
  display: flex;
  margin: auto;
  

}
.about-1{

  padding-right: 30px;
  padding-top: 10px;
}



@media only screen and (min-width:340px) and (max-width:480px){
 .main-about{
  flex-direction: column-reverse;

 }
 .about-2>p{
  font-size: 20px;
  text-align: center;
  
  
  }
  .about-2{
    width: 100%;
  }
  .me{
    text-align: center;
  }
  .about-2 >h2{
      
    margin-right: -5%;
    
    
    }
} 
@media only screen and (min-width:481px) and (max-width:890px){
  .main-about{
    flex-direction: column-reverse;
   }
   .about-2>p{
    text-align: center;
    font-size: 20px;
   }
    .me{
      text-align: center;
    }
    .about-2{
      width: 100%;

    }
    .about-2 > h2{
      
      margin-right: 5%;
      
      
      }
}
@media only screen and (min-width:890px) and (max-width:1580px){
  .about-2{
    padding: auto;
  }
}
